

.label-id {
    -fx-font-size: 14px;
}

.label-value{

}

.label-title {
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

.panel-title {

}

.label-amber {
    -fx-text-fill: #ffc107;
}

.label-red {
    -fx-text-fill: #e53935;
}

.label-green {
    -fx-text-fill: #00bfa5;
}

.label-blue {

    -fx-text-fill: #3949ab;
}
